@model ASP_Projet_Cinema.Models.MovieDetails

@{
    ViewData["Title"] = $"Fiche de {Model.Title} ({Model.ReleaseYear})";
}
<div>
    <div class="row">
        <div class="col-sm-6 col-md-8">
            <h1>@Model.Title (@Model.ReleaseYear)</h1>
            @if(!(Model.SubTitle is null)){
                <h2>@Model.SubTitle</h2>
            }
            <p>(@Model.Duration minutes)</p>
            <h4>@Html.DisplayNameFor(m=>m.Synopsis)</h4>
            <p>@Model.Synopsis</p>
        </div>
        <div class="col-sm-6 col-md-4">
            <img src="~/assets/imgs/@Model.PosterUrl"/>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Revenir à la liste</a>
</div>
